html{
  height: 100vh;
}
body{
  height: 100%;
  font-family: 'EB Garamond', serif;
  background-color: #f2f3f7;
}
.container, .row{
  height: 100%;
}
.title{
  color: #505258;
}
.wrapper{
  border-radius: 1rem;
  background-color: #f8f9fb;
  box-shadow: 0.6em 0.6em 1.2em #d2dce9, -0.5em -0.5em 1em #ffffff;
}
.btnReg{
  width: 100%;
  outline: none;
  background-color: #6987f5;
  border-radius: 10px;
  color: #ffffff;
}
.btnReg:hover{
  box-shadow: 0.6em 0.6em 1.2em #d2dce9, -0.5em -0.5em 1em #ffffff;
  background-color: #f8f9fb;
  color: #6987f5;
}
.formBlock{
  padding: 0 .5rem;
}
.form{
  border: none;
  display: block;
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  outline: none;
  background-color: inherit;
  box-shadow: 0.6em 0.6em 1.2em #d2dce9, -0.5em -0.5em 1em #ffffff;
}
.placeh::-webkit-input-placeholder{color: #1c1c1c;}
.placeh::-moz-placeholder{color: #1c1c1c;}
.placeh:-moz-placeholder{color: #1c1c1c;}
.placeh:-ms-input-placeholder{color: #1c1c1c;}

@media(max-width: 500px){
  .form{
    box-shadow: none;
    background-color: #d2dce9;
  }
}
@media(max-width: 350px){
  .wrapper{
    box-shadow: none;
    background-color: inherit;
  }
}