html {
  height: 100%;
}

body {
  font-family: "EB Garamond", serif;
  background-color: #E6E8EC;
  height: 100%;
}
.container-fluid,
.row,
.sidebar-sticky {
  height: 100%;
}

.navHeader {
  height: 15%;
  padding: 1% 5%;
  background-color: #32343a;
  color: #f2f3f7;
}
.collapse {
  height: 85%;
  align-items: start;
  padding: 4%;
  background-color: #3d3f45;
}
/*.admin{
  display: none;
}*/
.navbar-nav {
  width: 100%;
}
.nav-link {
  font-size: 1.2rem;
  text-decoration: none;
  color: #77797e;
}
.nav-link:hover {
  color: #ffffff;
}
.nav-link i {
  margin-right: 1rem;
}
.mainHeader{
  height: 15%;
    padding: 1% 2%;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0px -5px 5px -5px rgba(133, 144, 152, 0.6) inset;
-moz-box-shadow: 0px -5px 5px -5px rgba(133, 144, 152, 0.6) inset;
box-shadow: 0px -5px 5px -5px rgba(133, 144, 152, 0.6) inset;
}
.mainImg{
  width: 5%;
  margin-right: 2rem;
}
.mainImg img{
    height: 90%;
}
.mainTable{
    padding: 1% 2%;
}
.tabl{
    width: 100%;
}
thead tr th{
    font-size: 1.3rem;
    padding: 1%;
    border-bottom: 3px solid #3d3f45;
}
tbody tr td{
    font-size: 1.3rem;
    padding: 1%;
    border-bottom: 1px solid #77797e;
}
tbody i{
    cursor: pointer;
    transition: all .3s;
}
tbody a{
  text-decoration: none;
  color: #6987f5;
}
tbody i:hover{
    font-weight: bolder;
}
.modalBtn{
  cursor: pointer
}
.modal-content{
  border: none;
  border-radius: 30px;
  box-shadow: 0.6em 0.6em 1.2em #6b6c6e, -0.5em -0.5em 1em #8b8f94;
  background-color: #8a8d91;
}
.modal-header{
  border-bottom: 1px solid #6b6c6e;
  display: initial;
}
.serverStatus{
  color: red;
}
.modal-footer{
  border-top: 1px solid #6b6c6e;
}
.modal-footer .btn{
  outline: none;
}
.form{
  border: none;
  display: inline-block;
  width: 80%;
  padding: .3rem 1rem .5rem;
  border-radius: 3px;
  outline: none;
  box-shadow: 0.6em 0.6em 1.2em #8e8f92, -0.5em -0.5em 1em #8b8f94;
  background-color: #9c9ea1;
}
.form::placeholder{
  color: #fff;
}
.btnModal{
  box-shadow: 0.6em 0.6em 1.2em #6b6c6e, -0.5em -0.5em 1em #8b8f94;
}
.modal-body .disabled {
  background-color: inherit;
  color:#fff;
  border: none;
}
@media (max-width: 767px) {
  .navHeader {
    height: 20%;
  }
  .mainHeader{
    height: 20%;
  }
}
@media(min-width: 1400px){
  .navHeader {
    height: 10%;
  }
  .mainHeader{
    height: 10%;
  }
  .collapse{
    height: 90%;
  }
}
