html {
  height: 100%;
}

body {
  overflow-y: hidden;
  font-family: "EB Garamond", serif;
  background-color: #E6E8EC;
  height: 100%;
}
.container-fluid,
.row,
.sidebar-sticky {
  height: 100%;
}

.navTitle {
  padding: 1% 5%;
  height: 12%;
  background-color: #32343a;
  color: #f2f3f7;
}
.collapse {
  align-items: start;
  padding: 4%;
  background-color: #3d3f45;
}
.navbar-nav {
  width: 100%;
}
.nav-link {
  font-size: 1.2rem;
  text-decoration: none;
  color: #77797e;
}
.nav-link:hover {
  color: #ffffff;
}
.nav-link i {
  margin-right: 1rem;
}
.mainHeader{
    padding: 1% 2%;
    height: 12%;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0px -5px 5px -5px rgba(133, 144, 152, 0.6) inset;
-moz-box-shadow: 0px -5px 5px -5px rgba(133, 144, 152, 0.6) inset;
box-shadow: 0px -5px 5px -5px rgba(133, 144, 152, 0.6) inset;
}
.mainImg img{
    height: 80%;
    margin-right: 1rem;
}
.mainTable{
    padding: 1% 2%;
}
.tabl{
    width: 100%;
}
thead tr th{
    font-size: 1.3rem;
    padding: 1%;
    border-bottom: 3px solid #3d3f45;
}
tbody tr td{
    font-size: 1.3rem;
    padding: 1%;
    border-bottom: 1px solid #77797e;
}
tbody i{
    cursor: pointer;
    transition: all .3s;
}
tbody i:hover{
    font-weight: bolder;
}

@media (min-width: 750px) {
  .collapse {
    min-height: 1000%;
  }
}
